input {
    width: 75px;
    height: 75px;
    font-size: 50px;
    text-align: center;
}
.submit{
    width: 100px;
    height: 50px;
    border-radius: 100vh;
    background-image: linear-gradient(to left, #f4ff81 0%, #00e676 100%);
    margin-bottom: 10px;
}
.reset {
    text-align: center;
}