<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wordle</title>
    <link rel="stylesheet" type="text/css" href="../static/css/wordle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <script src="../static/js/wordle.js" type="module"></script>
</head>
<body>
    <h1>WORDLE</h1>
    <h1>Readme : Let's guess one word in five letters in six chances</h1>
    <h2 id="count">Number of challenges : 6</h2>

    <div style="text-align: center">
        <button class="submit">Submit</button>
    </div>
    <div style="text-align: center">
        <input class="textBox" type="text" maxlength="1">
        <input class="textBox" type="text" maxlength="1">
        <input class="textBox" type="text" maxlength="1">
        <input class="textBox" type="text" maxlength="1">
        <input class="textBox" type="text" maxlength="1">
    </div>
</body>
</html>